body {
  font-family: sans-serif;
  margin: 30px;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
}

h3 {
  font-weight: 300;
  color: #aaa;
  margin-bottom: 30px;
}

button {
  padding: 10px;
  background: #0077b6;
  color: white;
  border: none;
  box-shadow: #33333359 0px 1px 15px;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 10px 35px;
}

button:hover {
  background: #023e8a;
}

button:active {
  background: #03045e;
}